body {
    background-color: rgba(30, 30, 30, 255);
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    width: 260px;
    transition: color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.popup-title {
    display: block;
    font-weight: 700;
    font-size: 26px;
    margin: -10px 0px 15px 0px;
}

.section-title-container {
    position: relative;
    display: block;
    margin: 15px auto 0px;
    text-align: center;
    overflow: hidden;
    height: 30px;
    width: 100% - 5px;
    text-wrap: nowrap;
}

.section-title {
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    right: -50%;
    left: -50%;
}

.dropdown {
    display: block;
    width: fit-content;
    margin: 0px auto;
    padding: 2px 5px 4px;
    background-color: grey;
}

/* Hide default HTML checkbox */
.dropdown input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.dropdown-text {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collapsible {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*.dropdown-arrow:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    right: 4px;


    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.dropdown-arrow:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}*/

/* Grid containing theme switch and icons */
.theme-container {
    position: absolute;
    display: inline-grid;
    grid-auto-flow: row;
    width: fit-content;
    height: fit-content;
    top: 10px;
    right: 10px;
}

/* Switch for theme */
.theme-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin: 0px 5px 0px 5px;
    /*transform: scale(0.5);*/
}

/* Hide default HTML checkbox */
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

.theme-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: rgba(225, 225, 225, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.theme-slider {
    background-color: rgba(255, 255, 255, 255);
}

input:checked+.theme-slider:before {
    background-color: rgba(0, 0, 0, 255);
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.org-buttons {
    /*min-width: 250px;*/
    width: 250px;
    max-width: 250px;
}

.org-container {
    padding: 5px 0px 5px 0px;
    position: relative;
}

.org-button {
    position: absolute;
    right: 5px;
}

/* Grid containing switch and either-or options */
.either-or-switch-container {
    display: inline-grid;
    grid-auto-flow: row;
    width: 100%;
}

/* Left either-or grid item */
.either-or-left {
    grid-column: 1;
    text-wrap-mode: wrap !important;
    font-size: 16px;
    text-align: left;
    justify-self: left;
    width: fit-content;
}

/* Switch item in either-or grid */
.either-or-switch {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

/* Right either-or grid item */
.either-or-right {
    grid-column: 3;
    text-wrap-mode: wrap !important;
    font-size: 16px;
    text-align: right;
    width: fit-content;
    justify-self: right;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

/*input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}*/

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}