name: Create Archive
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        filename: 'builds/logs_tf_extended_plus-x.x.x.zip'
        exclusions: '*.git* /*node_modules/* .editorconfig README.md builds builds/* /.github'
